version: 2.1
jobs:
  build:
    environment:
      HUGO_BUILD_DIR: ~/hugo/public
    docker:
      - image: cibuilds/hugo:latest # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: echo "hello world" # run the `echo` command
      - run: 'HUGO_ENV=production hugo -v'
  deploy:
    docker:
      - image: google/cloud-sdk
    steps:
      - run:
        command: |
          echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
          gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
          gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
